/* boxes */

.chatbox {
    margin-top: 100px;
    border: 3px solid #b8b894;
    height: 50px;
    width: 750px;
    color: #FFFFFF;
    background: #373737;
	
}

.emojibox {
    margin-left: 1120px;
    margin-top: -700px;
    border: 3px solid #b8b894;
    height: 700px;
    width: 250px;
    color: #FFFFFF;
    background: #373737;
}

.questionbox {
    margin-right: 1120px;
    margin-top: -700px;
    border: 3px solid #b8b894;
    height: 700px;
    width: 250px;
    color: #FFFFFF;
    background: #373737;
}

.messagebox {
    margin-top: 100px;
	font-size: 25px;
    border: 3px solid #b8b894;
    height: 550px;
    width: 750px;
    color: #FFFFFF;
    background: #373737;
	overflow: scroll;
}

.invisiblebox {
    width: 2000px;
    height: 100px;
}



/* disable link markings*/

a:hover {
	color: white;
   text-decoration: none;
}


/* DROPDOWN/SELECT */

.questions {
	font-size: 20px;
}


/* single questions */

.fragen {
	font-family: arial;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.emoji{
	font-size: 25px;
	text-decoration: none;
}